$backgroundheader: url("../img/m-h-night.jpg");
$bgcolor: #1b1e2a;
$textheadercolor: #fafafa;
$headerheadingcolor: #fafafa;
$headerheadingunderlinecolor: #ff4d30;
$headertextcolor: #fafafa;
$headerbuttoncolor: #e4ae00;
$headerbuttontextcolor:#fafafa;
$sectiontextcolor: #fafafa;
$sectionunderlinecolor: #ff4d30;
$sectioncardbgcolor: #383d4f;
$sectioncardheadingtextcolor: #fafafa;
$sectioncardheadingunderlinecolor: #ff4d30;
$sectioncardtextcolor: #282b39;
$sectionbanergradient1color: #e3ac00;
$sectionbanergradient2color: #932752;
$sectionbanerheadingcolor: #fafafa;
$sectionbanerheadingunderlinecolor: #ff4d30;
$sectionbanertextcolor: #282b39;
$sectionbanerbuttoncolor: #e4ae00;
$sectionbanerbuttontextcolor: #fafafa;
$footerbackgroundcolor: #282b39;
$footerwrappcolor: #fafafa;
$fontfamilyheaderp: 'Hind', sans-serif;
$fontfamilyheaderheading: 'Source Sans Pro', sans-serif;
$fontfamilyheadertext: 'Hind', sans-serif;
$fontfamilysectiontext: 'Hind', sans-serif;
$fontfamilycardheading: 'Hind', sans-serif;
$fontfamilysectioncardtext: 'Fresca', sans-serif;
$fontfamilysectionbanerheading: 'Hind', sans-serif;
$fontfamilysectionbanertext: 'Fresca', sans-serif;
$fontfamilyfooterwrap: 'Fresca', sans-serif;
$fontfamilyfooter: 'Hind', sans-serif;
$fontfamilyfooterwrapp: 'Hind', sans-serif;
$fontfamilyheaderbutton: 'Hind', sans-serif;
$fontfamilybanerbutton: 'Hind', sans-serif;
