$backgroundheader: url("../img/m-h-day.jpg");
$bgcolor: #fafafa;
$textheadercolor: #282b39;
$headerheadingcolor: #282b39;
$headerheadingunderlinecolor: #0ca2c8;
$headertextcolor: #282b39;
$headerbuttoncolor: #699a00;
$headerbuttontextcolor:#fafafa;
$sectiontextcolor: #282b39;
$sectionunderlinecolor: #0ca2c8;
$sectioncardbgcolor: #1b1e2a;
$sectioncardheadingtextcolor: #fafafa;
$sectioncardheadingunderlinecolor: #0ca2c8;
$sectioncardtextcolor: #282b39;
$sectionbanergradient1color: #679801;
$sectionbanergradient2color: #285add;
$sectionbanerheadingcolor: #282b39;
$sectionbanerheadingunderlinecolor: #0ca2c8;
$sectionbanertextcolor: #282b39;
$sectionbanerbuttoncolor: #699a00;
$sectionbanerbuttontextcolor: #fafafa;
$footerbackgroundcolor: #282b39;
$footerwrappcolor: #fafafa;
$fontfamilyheaderp: 'Hind', sans-serif;
$fontfamilyheaderheading: 'Source Sans Pro', sans-serif;
$fontfamilyheadertext: 'Fresca', sans-serif;
$fontfamilysectiontext: 'Hind', sans-serif;
$fontfamilycardheading: 'Hind', sans-serif;
$fontfamilysectioncardtext: 'Hind', sans-serif;
$fontfamilysectionbanerheading: 'Hind', sans-serif;
$fontfamilysectionbanertext: 'Hind', sans-serif;
$fontfamilyfooterwrap: 'Hind', sans-serif;
$fontfamilyfooter: 'Fresca', sans-serif;
$fontfamilyfooterwrapp: 'Hind', sans-serif;
$fontfamilyheaderbutton: 'Hind', sans-serif;
$fontfamilybanerbutton: 'Hind', sans-serif;
